[buildout]
extends = test-5.x.cfg buildout-cache.cfg
parts = download install test
plone-series = 5.0
package-name =
package-extras =
test-eggs =

# There is no unified installer for 5.0a3 yet so we hardcode the
# last known version
[download]
recipe = hexagonit.recipe.download
url = https://launchpad.net/plone/${buildout:plone-series}/5.0a2/+download/Plone-5.0a2-UnifiedInstaller.tgz

# There is no unified installer for 5.0a3 yet so we hardcode the
# last known version
[install]
cmds = tar jxvf ${download:location}/Plone-5.0a2-UnifiedInstaller/packages/buildout-cache.tar.bz2 1>/dev/null

